<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1>Welcome<br/>
        <small>This is an assessment plan design tool.</small>
        </h1>
      </div>
        <div class="list-group-item media" >
        <div class="pull-right">
            <a href="#/search"><i class="fa fa-search feature-icon  text-primary"></i></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Search</h3>
            Search any existing plans here
        </div>
      </div>

     <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-edit feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Update an existing plan</h3>
            Search the plan you are looking for and update, or add a plan here.
        </div>
      </div>


<!--      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Test responsiveness and speed</h3>
            Scroll, tap, navigate, test that everything is smooth
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Resize your browser</h3>
            Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>-->

      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Submit an issue</h3>
            Please submit any issue you'll find. It would help a lot!<br>
            Just in case, don't forget to indicate your user agent string:<br>
            {{userAgent}}
        </div>
      </div>

    </div>

  </div>
</div>
