<div content-for="title">
    <span>Search Assessment Plans & Documents</span>
</div>

<div class="scrollable" data-ng-controller="AssessmentCtrl">
    <div class="scrollable-content container-fluid section">

        <div class="panel-group" id="accordion" ng-show ="plans().length > 0">
            <br/>
            <div class="panel-group" id="accordion" >
                <div data-ng-repeat="p in plans()"  >
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <h4 class="panel-title" >
                                {{p.name}} created on {{p.created}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>