<div content-for="title">
    <span>Section Details</span>
</div>

<div class="scrollable" data-ng-controller="AssessmentCtrl">
    <div class="scrollable-content container-fluid section">


        <div> <label  class="control-label">Section ID: </label>
         {{selectedSection().sectionID}} </div>
        <label for="sectionName" class="control-label">Section Key: </label>
        <input name="sectionName" data-ng-model="selectedSection().name" type="text"  style="width:50%" placeholder="section name">


        <div class="panel-group" id="accordion" ng-show ="selectedSection().questions.length > 0">
            <br/>
            <div ><h4 class="span3">Questions:    
                <button class="btn btn-info" ng-click="collapsed = !collapsed" ng-show="collapsed">Expand All</button>
                <button class="btn btn-action" ng-click="collapsed = !collapsed" ng-show="!collapsed">Collapse All</button>
                <button class="btn btn-success" >Save</button>
            </h4></div>
            <div class="panel-group" id="accordion" ng-show ="selectedSection().questions.length > 0">
                <div data-ng-repeat="q in selectedSection().questions"  >
                    <div class="panel panel-default">
                        <div class="panel-heading" toggle target="{{q.messageKey}}-{{$index}}">
                            <h4 class="panel-title" ng-show="!editQuestion">
                                {{q.messageKey}} - [{{q.responseType}}]
                            </h4>
                        </div>
                        <div id="{{q.messageKey}}-{{$index}}" toggleable active-class="in" exclusion-group="accordion1" default="active" class="panel-collapse" ng:class="{'collapse': collapsed}">
                            <div class="panel-body">
                                <div class="label-gray-small">Question:</div>
                                <input name="messageKey" data-ng-model="q.messageKey" style="width:60%;" />                                
                                <input name="messageKey" data-ng-model="q.responseType" style="width:10%;" />                                
                                <div class="label-gray-small" ng-show ="q.options.length > 0"><br/>Options: </div>
                                <div data-ng-repeat="o in q.options" ng-show ="q.options.length > 0" >            
                                    <input name="messageKey" data-ng-model="o.messageKey" style="width:60%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>