<h1 class="app-name">Assessment Design Tool</h1>

<div class="scrollable sidebar-scrollable" data-ng-controller="AssessmentCtrl">
  <div class="scrollable-content">
      <div class="list-group" toggle="off" bubble target="mainSidebar">
<!--      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>-->
    <div data-ng-repeat="s in schema.sections" >
        <a class="list-group-item" href="#/section" data-ng-click="selectSection(s)">{{s.name}} <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
    </div>

  </div>
</div>
